@page
@model Server.Areas.Admin.Pages.BasicInfo.Users.CreateModel
@{
    var pageTitle =
    $"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.User}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}
<form method="post">

    <section-form>
        <fieldset>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />
            <ub-full-input asp-for="CreateViewModel.FirstName" />
            <ub-full-input asp-for="CreateViewModel.LastName" />
            <ub-full-input asp-for="CreateViewModel.UserName" />
            <ub-full-input asp-for="CreateViewModel.Mobile" />
            <ub-full-select asp-for="CreateViewModel.Role" asp-items="Model.Roles" />

            <ub-full-input asp-for="CreateViewModel.Password" />
            <ub-full-input asp-for="CreateViewModel.ConfirmPassword" />

        </fieldset>

        <section-form-buttons>
            <button-create />
            <button-reset />
        </section-form-buttons>

    </section-form>

</form>
