@page
@model Server.Areas.Admin.Pages.BasicInfo.Units.CreateModel
@{
	var pageTitle =
	$"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.Unit}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			@* <partial name="PartialViews/_DisplayPageMessages" /> *@

			<ub-full-input asp-for="CreateViewModel.Title"/>

			<ub-full-select asp-for="CreateViewModel.BaseUnitId" asp-items="Model.BaseUnitList" />

			<ub-full-input asp-for="CreateViewModel.Ratio" />

		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

	</section-form>

</form>
