@page "{id:guid}"
@model Server.Areas.Admin.Pages.BasicInfo.Products.ProductPriceLists.DeleteModel
@{
    var pageTitle =
        $"{Resources.DataDictionary.DeleteOf} {Resources.DataDictionary.Price}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

    <section-form>

        <input hidden asp-for="ViewModel.Id" dir="ltr" />

        <fieldset disabled>

            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />

            <ub-full-input asp-for="ViewModel.Title" /> 

        </fieldset>

        <section-form-buttons>
            <button-delete />
        </section-form-buttons>

    </section-form>

</form>
