@page "{id:guid}"
@model Server.Areas.Admin.Pages.BasicInfo.Products.ProductPriceLists.UpdateModel
@{
    var pageTitle =
        $"{Resources.DataDictionary.UpdateOf} {Resources.DataDictionary.Price}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

    <section-form>

        <fieldset>

            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />

            <input hidden asp-for="ViewModel.Id" />

            <input hidden asp-for="ViewModel.ProductId" />

            <ub-full-input asp-for="ViewModel.Price" />

        </fieldset>

        <section-form-buttons>
            <button-save />
            <button-reset />
        </section-form-buttons>

    </section-form>

</form>