@page "{customerId}"
@model Server.Areas.Admin.Pages.BasicInfo.ShippingAddress.CreateModel
@{
    var pageTitle =
    $"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.Shippingaddress}";
    
    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}
<form method="post">

    <section-form>
        <fieldset>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />
            <input hidden asp-for="AddressViewModel.CustomerId" dir="ltr" />
            <ub-full-input asp-for="AddressViewModel.Country" />
            <ub-full-input asp-for="AddressViewModel.Province" />
            <ub-full-input asp-for="AddressViewModel.City" />
            <ub-full-input asp-for="AddressViewModel.Address" />
            <ub-full-input asp-for="AddressViewModel.PostalCode" />

        </fieldset>

        <section-form-buttons>
            <button-create />
            <button-reset />
        </section-form-buttons>

    </section-form>

</form>
