
@page "{Id}/{CustomerId}"
@model Server.Areas.Admin.Pages.BasicInfo.ShippingAddress.DeleteModel
@{
	var pageTitle =
	$"{Resources.DataDictionary.DeleteOf} {Resources.DataDictionary.Shippingaddress}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset disabled>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />
			<input hidden asp-for="DeleteViewModel.Id" dir="ltr" />
			<input hidden asp-for="DeleteViewModel.CustomerId" dir="ltr" />z
			<ub-full-input asp-for="DeleteViewModel.City" />

			<ub-full-input asp-for="DeleteViewModel.Address" />

			<ub-full-input asp-for="DeleteViewModel.PostalCode" />

		</fieldset>

		<section-form-buttons>
			<button-delete />
		</section-form-buttons>

	</section-form>

</form>
