@page
@model Server.Areas.Admin.Pages.BasicInfo.Customers.CreateModel
@{
	var pageTitle =
	$"{Resources.DataDictionary.CreateOf} {Resources.DataDictionary.Unit}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}
<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			@* <partial name="PartialViews/_DisplayPageMessages" /> *@

			<ub-full-input asp-for="CreateViewModel.Email" />

			

			<ub-full-input asp-for="CreateViewModel.Password" />

		</fieldset>

		<section-form-buttons>
			<button-create />
			<button-reset />
		</section-form-buttons>

	</section-form>

</form>
