@page "{Id}"
@model Server.Areas.Admin.Pages.BasicInfo.Customers.DeleteModel
@{
	var pageTitle =
	$"{Resources.DataDictionary.DeleteOf} {Resources.DataDictionary.Unit}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

	<section-form>
		<fieldset disabled>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			@* <partial name="PartialViews/_DisplayPageMessages" /> *@
			<input hidden asp-for="DeleteViewModel.Id" dir="ltr" />

			<ub-full-input asp-for="DeleteViewModel.Email" />

			<ub-full-input asp-for="DeleteViewModel.Password" />

			<ub-full-input asp-for="DeleteViewModel.Mobile" />

		</fieldset>

		<section-form-buttons>
			<button-delete />
		</section-form-buttons>

	</section-form>

</form>

