<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@(ViewData[Constants.ViewDataKeyName.PageTitle])</title>
    <!-- CSS Styles -->
    <link rel="stylesheet" href="~/css/css/bootstrap.rtl.min.css">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/aos-master/dist/aos.css">
    <link rel="stylesheet" href="~/plugins/hover-master/css/hover-min.css">
    <link rel="stylesheet" href="~/css/css/ionicons.css">
    <link rel="stylesheet" href="~/css/css/droopmenu.css">
    <link rel="stylesheet" href="~/css/css/highlight.css">
	<link rel="stylesheet" href="~/css/css/nouislider.min.css">
	<link href="~/css/css/owl.carousel.min.css" rel="stylesheet" />
	<link href="~/css/css/swiper-bundle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.css" />
    <link rel="stylesheet" href="~/css/css/style.css">
    <link rel="stylesheet" href="~/css/site.css"/>
    
</head>
<body>
    <section id="encrypt231432">
        <partial name="PartialViews/_SearchNavBar" />
        <partial name="PartialViews/_MainNavBar" />
    </section>

    @RenderBody()

    <partial name="PartialViews/_MobileMenu" />
    
    <partial name="PartialViews/_Footer" />
    <partial name="PartialViews/_Copyright" />
</body>


<script src="~/js/js/jquery.min.js"></script>
<script src="~/js/js/bootstrap.bundle.min.js"></script>
<script src="~/plugins/fontawesome/js/all.min.js"></script>
<script src="~/plugins/aos-master/dist/aos.js"></script>
<script src="~/js/js/droopmenu.js"></script>
<script src="~/js/js/nouislider.min.js"></script>
<script src="~/js/js/pagination.js"></script>

<script src="~/js/js/owl.carousel.min.js"></script>
<script src="~/js/js/nav-tabs.js"></script>
<script src="~/js/js/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.3/photoswipe-ui-default.min.js"></script>
<script src="~/js/js/product-gallery.js"></script>

<script src="~/js/js/scripts.js"></script>


</html>