@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <!-- encrypt231432 -->
    <section id="encrypt231432">
        <partial name="PartialViews/_TopNavBar" />

        <partial name="PartialViews/_SearchNavBar" />

        <partial name="PartialViews/_MainNavBar" />

        <partial name="PartialViews/_SliderSection" />

        <partial name="PartialViews/_FeaturedProductsSection" />

        <partial name="PartialViews/_OnSaleProducts" />

        <partial name="PartialViews/_encrypt4598721256" />

        <partial name="PartialViews/_MostSalesProducts" />

        <partial name="PartialViews/_PromoImages" />

        <partial name="PartialViews/_BlogSection" />

        <partial name="PartialViews/_Footer" />
</body>