@page
@model Server.Pages.IndexModel
@using Domain.Aggregates.Cms.HomeViews.Enums
@using Server.Pages.Shared.Components.ProductSection
@using Server.Pages.Shared.Components.SliderSection

@{
	ViewData["Title"] = "Home page";
}


<section id="encrypt231432">

	@foreach (var homeView in Model.HomeViews)
	{
		if (homeView.Type == ViewType.Slider)
		{
			@(await Component.InvokeAsync
				(SliderSectionViewComponent.KEY, homeView))
		}

		if (homeView.Type == ViewType.Product)
		{
			@(await Component.InvokeAsync
				(ProductSectionViewComponent.KEY, homeView))
		}

		if (homeView.Type == ViewType.Image)
		{
@* 			@(await Component.InvokeAsync
				(ImageSectionViewComponent.KEY, homeView)) *@
		}
	}

	@* <partial name="PartialViews/_SliderSection" /> *@

	<partial name="PartialViews/_FeaturedProductsSection" />

	<partial name="PartialViews/_OnSaleProducts" />

	<partial name="PartialViews/_WarrantyTitles" />

	<partial name="PartialViews/_MostSalesProducts" />

	<partial name="PartialViews/_PromoImages" />

	<partial name="PartialViews/_BlogSection" />

</section>
