@page
@model Server.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section id="encrypt231432">

   

    <partial name="PartialViews/_SliderSection" />

    <partial name="PartialViews/_FeaturedProductsSection" />

    <partial name="PartialViews/_OnSaleProducts" />

    <partial name="PartialViews/_encrypt4598721256" />

    <partial name="PartialViews/_MostSalesProducts" />

    <partial name="PartialViews/_PromoImages" />

    <partial name="PartialViews/_BlogSection" />

  
</section>
