@page
@model ProductModel
@{
}
<section id="encrypt231432">
@*     <partial name="PartialViews/_TopNavBar" />

    <partial name="PartialViews/_SearchNavBar" />

    <partial name="PartialViews/_MainNavBar" /> *@
</section>
<!-- /encrypt231432 -->

<partial name="PartialViews/_Product" />

@* <partial name="PartialViews/_Footer" /> *@

<partial name="PartialViews/_Copyright" />