@page
@model Server.Pages.Products_listModel
@{
}
<section id="encrypt231432">
    <!-- Top NavBar -->
    <div id="encrypt23231432">
        <div class="container">
            <div class="row">
                <div class="col-8 d-none d-md-block">
                    <ul>
                        <li><a asp-page="/Index">صفحه نخست</a></li>
                        <li><a asp-page="/About">درباره ما</a></li>
                        <li><a asp-page="/Contact">تماس با ما</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 text-center text-md-end" id="encrypt2321">
                    <span>تلفن مشاوره و فروش: 09351234567</span>
                </div>
            </div>
        </div>
    </div>
    <!-- /Top NavBar -->
    <!-- Search NavBar -->
    <div id="encrypt232344">
        <div class="container pt-1">
            <div class="row py-3 align-content-center">
                <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="encrypt231432-logo">
                    <a asp-page="/Index">
                        <img src="assets/images/logo.png" alt=""> روبیک مارکت
                    </a>
                </div>
                <div class="col-12 col-md-5 col-xl-6">
                    <div id="search-bar">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="جستجو کنید...">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="row">
                        <div class="col-12 col-md-7 col-lg-6 text-center" id="encrypt23235444">
                            <a asp-page="/Login">ورود</a> /
                            <a asp-page="/Register">عضویت</a>
                        </div>
                        <div class="col-12 col-md-5 col-lg-6">
                            <a asp-page="/Cart">
                                <div class="btn btn-warning w-100"><i class="fa fa-shopping-cart"></i>&nbsp;<span class="d-md-none d-lg-inline-block">سبد خرید</span> (2)</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Search NavBar -->
    <!-- Main NavBar -->
    <div id="main-nav">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="encrypt233211 dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                        <div class="droopmenu-inner">
                            <div class="droopmenu-encrypt231432">
                                <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                                <span class="d-md-none">منوی فروشگاه</span>
                            </div>
                            <!-- encrypt231432 Mega Menu-->
                            <div class="droopmenu-nav">
                                <div class="droopmenu-nav-wrap">
                                    <div class="droopmenu-navi">
                                        <ul class="droopmenu">
                                            <li class="encrypt233211244" aria-haspopup="true">
                                                <a href="#" aria-expanded="false"><i class="fa fa-bars"></i>&nbsp;&nbsp;گروه های محصولات<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                                <ul class="droopmenu-grid droopmenu-grid-9">
                                                    <li class="droopmenu-tabs droopmenu-tabs-vertical">
                                                        <div class="encrypt111212132 droopmenu-tab-active" id="droopmenutab10">
                                                            <a class="droopmenu-tabencrypt231432" href="#">کالای دیجیتال</a>
                                                            <div class="encrypt234324311">
                                                                <div class="droopmenu-row">
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>صوت</h4></li>
                                                                        <li><a asp-page="/Products">رادیو دیجیتال</a></li>
                                                                        <li><a asp-page="/Products">ضبط صوت</a></li>
                                                                        <li><a asp-page="/Products">اسپیکر</a></li>
                                                                        <li><a asp-page="/Products">هدفون</a></li>
                                                                        <li><a asp-page="/Products">میکروفن</a></li>
                                                                        <li><h4>گوشی موبایل</h4></li>
                                                                        <li><a asp-page="/Products">گوشی موبایل</a></li>
                                                                        <li><a asp-page="/Products">تبلت</a></li>
                                                                        <li><a asp-page="/Products">کیف و کاور</a></li>
                                                                        <li><a asp-page="/Products">جانبی موبایل</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>تصویر</h4></li>
                                                                        <li><a asp-page="/Products">ال سی دی</a></li>
                                                                        <li><a asp-page="/Products">تلویزیون</a></li>
                                                                        <li><a asp-page="/Products">گیرنده دیجیتال</a></li>
                                                                        <li><h4>کنسول بازی</h4></li>
                                                                        <li><a asp-page="/Products">پلی استیشن 4</a></li>
                                                                        <li><a asp-page="/Products">پلی استیشن 3</a></li>
                                                                        <li><a asp-page="/Products">پلی استیشن 2</a></li>
                                                                        <li><a asp-page="/Products">ایکس باکس 360</a></li>
                                                                        <li><a asp-page="/Products">نینتندو</a></li>
                                                                        <li><a asp-page="/Products">بازی کامپیوتری</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block">
                                                                        <li><img src="assets/images/megamenu/megamenu-image1.png" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="encrypt111212132" id="droopmenutab11">
                                                            <a class="droopmenu-tabencrypt231432" href="#">لوازم منزل</a>
                                                            <div class="encrypt234324311">
                                                                <div class="droopmenu-row">
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>مبلمان</h4></li>
                                                                        <li><a asp-page="/Products">مبلمان اتاق</a></li>
                                                                        <li><a asp-page="/Products">مبل تکی</a></li>
                                                                        <li><a asp-page="/Products">مبلمان کودک</a></li>
                                                                        <li><a asp-page="/Products">میز ناهارخوری</a></li>
                                                                        <li><a asp-page="/Products">مبلمان اداری</a></li>
                                                                        <li><a asp-page="/Products">مبل تخت شو</a></li>
                                                                        <li><a asp-page="/Products">مبلمان راحتی</a></li>
                                                                        <li><a asp-page="/Products">گل میز</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>دکوراسیون</h4></li>
                                                                        <li><a asp-page="/Products">تابلوهای دکوری</a></li>
                                                                        <li><a asp-page="/Products">استیکر</a></li>
                                                                        <li><a asp-page="/Products">دیوارپوش</a></li>
                                                                        <li><a asp-page="/Products">کاغذ دیواری</a></li>
                                                                        <li><a asp-page="/Products">کفپوش</a></li>
                                                                        <li><a asp-page="/Products">موکت</a></li>
                                                                        <li><a asp-page="/Products">لوستر</a></li>
                                                                        <li><a asp-page="/Products">لوازم دکوری</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block">
                                                                        <li><img src="assets/images/megamenu/megamenu-image2.png" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="encrypt111212132" id="droopmenutab12">
                                                            <a class="droopmenu-tabencrypt231432" href="#">مد  و پوشاک</a>
                                                            <div class="encrypt234324311">
                                                                <div class="droopmenu-row">
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>مردانه</h4></li>
                                                                        <li><a asp-page="/Products">شلوار</a></li>
                                                                        <li><a asp-page="/Products">پیراهن</a></li>
                                                                        <li><a asp-page="/Products">تیشرت</a></li>
                                                                        <li><a asp-page="/Products">کفش</a></li>
                                                                        <li><a asp-page="/Products">کلاه</a></li>
                                                                        <li><a asp-page="/Products">کمربند</a></li>
                                                                        <li><a asp-page="/Products">عینک</a></li>
                                                                        <li><a asp-page="/Products">ساعت</a></li>
                                                                        <li><a asp-page="/Products">لباس زیر</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>زنانه</h4></li>
                                                                        <li><a asp-page="/Products">روسری</a></li>
                                                                        <li><a asp-page="/Products">چادر</a></li>
                                                                        <li><a asp-page="/Products">مانتو</a></li>
                                                                        <li><a asp-page="/Products">شلوار</a></li>
                                                                        <li><a asp-page="/Products">ساپورت</a></li>
                                                                        <li><a asp-page="/Products">تی شرت</a></li>
                                                                        <li><a asp-page="/Products">عینک</a></li>
                                                                        <li><a asp-page="/Products">ساعت</a></li>
                                                                        <li><a asp-page="/Products">لباس زیر</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block">
                                                                        <li><img src="assets/images/megamenu/megamenu-image3.png" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="encrypt111212132" id="droopmenutab13">
                                                            <a class="droopmenu-tabencrypt231432" href="#">فرهنگ و هنر</a>
                                                            <div class="encrypt234324311">
                                                                <div class="droopmenu-row">
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>آلات موسیقی</h4></li>
                                                                        <li><a asp-page="/Products">گیتار</a></li>
                                                                        <li><a asp-page="/Products">ویالون</a></li>
                                                                        <li><a asp-page="/Products">ارگ</a></li>
                                                                        <li><a asp-page="/Products">پیانو</a></li>
                                                                        <li><a asp-page="/Products">سنتور</a> </li>
                                                                        <li><a asp-page="/Products">ساز دهنی</a></li>
                                                                        <li><a asp-page="/Products">گیتار برقی</a></li>
                                                                        <li><a asp-page="/Products">درام</a></li>
                                                                        <li><a asp-page="/Products">تجهیزات استدیو</a></li>
                                                                        <li><a asp-page="/Products">جانبی موسیقی</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>صنایع دستی</h4></li>
                                                                        <li><a asp-page="/Products">کالاهای مسی</a></li>
                                                                        <li><a asp-page="/Products">معرق</a></li>
                                                                        <li><a asp-page="/Products">سفال</a></li>
                                                                        <li><a asp-page="/Products">لعلینه</a> </li>
                                                                        <li><a asp-page="/Products">محصولات چرمی</a></li>
                                                                        <li><a asp-page="/Products">تابلو و ساعت</a></li>
                                                                        <li><a asp-page="/Products">میناکاری</a></li>
                                                                        <li><a asp-page="/Products">سوزن دوزی</a></li>
                                                                        <li><a asp-page="/Products">فیروزه کوبی</a></li>
                                                                        <li><a asp-page="/Products">خاتم و منبت</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block">
                                                                        <li><img src="assets/images/megamenu/megamenu-image4.png" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="encrypt111212132" id="droopmenutab14">
                                                            <a class="droopmenu-tabencrypt231432" href="#">سلامت و زیبایی</a>
                                                            <div class="encrypt234324311">
                                                                <div class="droopmenu-row">
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>محصولات</h4></li>
                                                                        <li><a asp-page="/Products">لوازم آرایشی</a></li>
                                                                        <li><a asp-page="/Products">شامپو</a></li>
                                                                        <li><a asp-page="/Products">نرم کننده</a></li>
                                                                        <li><a asp-page="/Products">برس و شانه</a></li>
                                                                        <li><a asp-page="/Products">انواع ماسک</a></li>
                                                                        <li><a asp-page="/Products">تقویت کننده مو</a></li>
                                                                        <li><a asp-page="/Products">رنگ مو</a></li>
                                                                        <li><a asp-page="/Products">دستمال کاغذی</a></li>
                                                                        <li><a asp-page="/Products">سایر محصولات</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>برند ها</h4></li>
                                                                        <li><a asp-page="/Products">صحت</a></li>
                                                                        <li><a asp-page="/Products">پرژک</a></li>
                                                                        <li><a asp-page="/Products">داروگر</a></li>
                                                                        <li><a asp-page="/Products">طبیعت</a></li>
                                                                        <li><a asp-page="/Products">گلرنگ</a></li>
                                                                        <li><a asp-page="/Products">گلنار</a></li>
                                                                        <li><a asp-page="/Products">کلیر</a></li>
                                                                        <li><a asp-page="/Products">شبنم</a></li>
                                                                        <li><a asp-page="/Products">آیسان</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block">
                                                                        <li><img src="assets/images/megamenu/megamenu-image5.png" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="encrypt111212132" id="droopmenutab15">
                                                            <a class="droopmenu-tabencrypt231432" href="#">جواهرات</a>
                                                            <div class="encrypt234324311">
                                                                <div class="droopmenu-row">
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>زنانه</h4></li>
                                                                        <li><a asp-page="/Products">حلقه ازدواج</a></li>
                                                                        <li><a asp-page="/Products">ساعت</a></li>
                                                                        <li><a asp-page="/Products">گردنبند</a></li>
                                                                        <li><a asp-page="/Products">ساعت</a></li>
                                                                        <li><a asp-page="/Products">النگو</a></li>
                                                                        <li><a asp-page="/Products">انگشتر</a></li>
                                                                        <li><a asp-page="/Products">دستبند</a></li>
                                                                        <li><a asp-page="/Products">سایر</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4">
                                                                        <li><h4>مرانه</h4></li>
                                                                        <li><a asp-page="/Products">ساعت</a></li>
                                                                        <li><a asp-page="/Products">دستبند</a></li>
                                                                        <li><a asp-page="/Products">گردنبند</a></li>
                                                                        <li><a asp-page="/Products">انگشتر</a></li>
                                                                        <li><a asp-page="/Products">عینک</a></li>
                                                                        <li><a asp-page="/Products">سایر</a></li>
                                                                    </ul>
                                                                    <ul class="droopmenu-col droopmenu-col4 d-none d-lg-inline-block">
                                                                        <li><img src="assets/images/megamenu/megamenu-image6.png" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li><a asp-page="/About">درباره ما<em class="encrypt2344"></em></a></li>
                                            <li class="encrypt233211244" aria-haspopup="true">
                                                <a asp-page="/Products" aria-expanded="false">صفحات فروشگاه<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a asp-page="/Products">محصولات <sup>(کاشی کاری)</sup></a></li>
                                                    <li><a asp-page="/Products-list">محصولات <sup>(لیست)</sup></a></li>
                                                    <li><a asp-page="/Products">جزئیات محصول</a></li>
                                                </ul>
                                            </li>
                                            <li class="encrypt233211244" aria-haspopup="true">
                                                <a asp-page="/Contact" aria-expanded="false">تماس با فروشگاه<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a asp-page="/Faq">سوالات متداول</a></li>
                                                    <li><a asp-page="/Contact">تماس با ما</a></li>
                                                </ul>
                                            </li>
                                            <li class="encrypt233211244" aria-haspopup="true">
                                                <a asp-page="/Blog" aria-expanded="false">بلاگ آموزشی<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a asp-page="/Blog">آرشیو مطالب</a></li>
                                                    <li><a asp-page="/Blog-post">داخلی بلاگ</a></li>
                                                </ul>
                                            </li>
                                            <li class="encrypt233211244" aria-haspopup="true">
                                                <a href="#" aria-expanded="false">سایر صفحات<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a asp-page="/Compare">مقایسه محصول</a></li>
                                                    <li><a asp-page="/Cart">سبد خرید</a></li>
                                                    <li><a asp-page="/Checkout">پیش فاکتور</a></li>
                                                    <li><a asp-page="/Thankyou">پرداخت موفق</a></li>
                                                    <li class="dm-bottom-separator"></li>
                                                    <li><a asp-page="/Login">ورود به سایت</a></li>
                                                    <li><a asp-page="/Register">عضویت در سایت</a></li>
                                                    <li><a asp-page="/Reset-Password">بازگردانی رمز عبور</a></li>
                                                    <li class="dm-bottom-separator"></li>
                                                    <li><a href="error-404.html">خطای 404</a></li>
                                                </ul>
                                            </li>
                                            <li class="encrypt233211244" aria-haspopup="true">
                                                <a asp-page="/Profile/Personal-Info" aria-expanded="false">پروفایل کاربری<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                                <ul style="">
                                                    <li><a asp-page="/Register">عضویت در سایت</a></li>
                                                    <li><a asp-page="/Login">ورود به سایت</a></li>
                                                    <li><a asp-page="/Forget-Password">بازنشانی رمز عبور</a></li>
                                                    <li class="dm-bottom-separator"></li>
                                                    <li><a asp-page="/Profile/Personal-Info">مشخصات کاربری</a></li>
                                                    <li><a asp-page="/Profile/Factors">سفارشات</a></li>
                                                    <li><a asp-page="/Profile/Factor-View">مشاهده فاکتور</a></li>
                                                    <li><a asp-page="/Profile/Addresses">آدرس ها</a></li>
                                                    <li><a asp-page="/Profile/Favorites">علاقه مندی ها</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /encrypt231432 Menu Menu -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main NavBar -->
</section>
<!-- /encrypt231432 -->

<section class="inner-page" id="products-page">
    <div class="container-fluid" id="page-hero">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row">
                        <div class="col-12 px-0">
                            <h1>فروشگاه روبیک مارکت</h1>
                            <p>هر آنچه نیاز دارید در این فروشگاه موجود است</p>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a asp-page="/Index">صفحه نخست</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">محصولات</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <div class="row">
                        <div class="col-12 col-lg-3 px-3 px-lg-0">
                            <!-- Side Panel -->
                            <div class="accordion filters-container">
                                <div class="accordion-item">
                                    <h2 class="accordion-encrypt231432" id="headingOne">
                                        <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            گروه های محصولات
                                        </button>
                                    </h2>
                                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="form-group">
                                                <input type="checkbox" id="category1">
                                                <label for="category1">گوشی موبایل</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="category2">
                                                <label for="category2">جانبی موبایل</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="category3">
                                                <label for="category3">دوربین دیجیتال</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="category4">
                                                <label for="category4">ساعت هوشمند</label>
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="category5">
                                                <label for="category5">لپ تاپ</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-encrypt231432" id="headingTwo">
                                        <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                            محدوده قیمت
                                        </button>
                                    </h2>
                                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-12 py-1 px-4 mt-3">
                                                    <div id="steps-slider" dir="rtl"></div>
                                                </div>
                                                <div class="col-6 text-center price-range mt-3">
                                                    <div>از</div>
                                                    <div id="price-range-from">10000</div>
                                                    <div>تومان</div>
                                                </div>
                                                <div class="col-6 text-center price-range mt-3">
                                                    <div>از</div>
                                                    <div id="price-range-to">500000</div>
                                                    <div>تومان</div>
                                                </div>
                                                <div class="col-12 text-center py-2">
                                                    <div class="btn btn-warning">اعمال محدوده تخفیف</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <div id="collapseThree" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pb-2">
                                            <div class="form-group">
                                                <input type="checkbox" id="only-available">
                                                <label for="only-available">فقط کالاهای موجود</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <div id="collapseFour" class="accordion-collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body pb-2">
                                            <div class="form-group">
                                                <input type="checkbox" id="only-warranty">
                                                <label for="only-warranty">فقط کالاهای دارای گارانتی</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion filters-container mt-3">
                                <div class="accordion-item">
                                    <h2 class="accordion-encrypt231432" id="headingFive">
                                        <button class="accordion-button py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                                            جدیدترین محصولات
                                        </button>
                                    </h2>
                                    <div id="collapseFive" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <!-- Side Product -->
                                                <div class="col-12 col-md-4 col-lg-12 px-0 mt-2">
                                                    <a asp-page="/Product">
                                                        <div class="side-product">
                                                            <div class="row pl-3">
                                                                <div class="col-3 pl-2">
                                                                    <div class="image" style="background-image: url('assets/images/products/p100.png')"></div>
                                                                </div>
                                                                <div class="col-9 pr-0">
                                                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51</h2>
                                                                    <div class="row">
                                                                        <div class="col-7 pl-0">
                                                                            <span class="price">320.000 تومان</span>
                                                                        </div>
                                                                        <div class="col-5 pr-0 text-end">
                                                                            <span class="views">321 بازدید</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- Side Product -->
                                                <!-- Side Product -->
                                                <div class="col-12 col-md-4 col-lg-12 px-0 mt-2">
                                                    <a asp-page="/Product">
                                                        <div class="side-product">
                                                            <div class="row pl-3">
                                                                <div class="col-3 pl-2">
                                                                    <div class="image" style="background-image: url('assets/images/products/p100.png')"></div>
                                                                </div>
                                                                <div class="col-9 pr-0">
                                                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51</h2>
                                                                    <div class="row">
                                                                        <div class="col-7 pl-0">
                                                                            <span class="price">320.000 تومان</span>
                                                                        </div>
                                                                        <div class="col-5 pr-0 text-end">
                                                                            <span class="views">321 بازدید</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- Side Product -->
                                                <!-- Side Product -->
                                                <div class="col-12 col-md-4 col-lg-12 px-0 mt-2">
                                                    <a asp-page="/Product">
                                                        <div class="side-product">
                                                            <div class="row pl-3">
                                                                <div class="col-3 pl-2">
                                                                    <div class="image" style="background-image: url('assets/images/products/p100.png')"></div>
                                                                </div>
                                                                <div class="col-9 pr-0">
                                                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51</h2>
                                                                    <div class="row">
                                                                        <div class="col-7 pl-0">
                                                                            <span class="price">320.000 تومان</span>
                                                                        </div>
                                                                        <div class="col-5 pr-0 text-end">
                                                                            <span class="views">321 بازدید</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <!-- Side Product -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Side Panel -->
                        </div>
                        <div class="col-12 col-lg-9 px-0 pl-lg-0 pr-lg-2 mt-2 mt-lg-0">
                            <!-- Filters -->
                            <div id="order-filters">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-sm-10 my-1">
                                            <span class="d-block d-sm-inline-block">مرتب سازی بر اساس:</span>
                                            <span class="order-filter d-block d-sm-inline-block active">جدیدترین</span>
                                            <span class="order-filter d-block d-sm-inline-block">پربازدیدترین</span>
                                            <span class="order-filter d-block d-sm-inline-block">پرفروش‌ترین</span>
                                            <span class="order-filter d-block d-sm-inline-block">ارزان‌ترین</span>
                                        </div>
                                        <div class="col-12 col-sm-2 pt-1 text-end">
                                            <span>
                                                <a asp-page="/Products-list" class="products-view-type active"><i class="fa fa-th-list"></i></a>
                                                <a asp-page="/Products" class="products-view-type"><i class="fa fa-th"></i></a>
                                            </span>
                                            &nbsp;|&nbsp;
                                            <span>122 کالا</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Filters -->
                            <div class="mt-2" id="pager">
                                <div class="container">
                                    <div class="row row-cols-1 gx-md-4">
                                        <!-- Products -->
                                        <div class="col">
                                            <!-- Product Box -->
                                            <div class="encrypt263156-row">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <a asp-page="/Product"><div class="image" style="background-image: url('assets/images/products/p100.png')"></div></a>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="details py-3 px-3">
                                                            <div class="category">
                                                                <a asp-page="/Products">گوشی موبایل</a>
                                                                &nbsp;/&nbsp;
                                                                <a asp-page="/Products">سامسونگ</a>
                                                            </div>
                                                            <a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2></a>
                                                            <div class="rate">
                                                                <i class="fa fa-star-half-alt"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <span class="encrypt89312423451">(14 رای دهنده)</span>
                                                            </div>
                                                            <p>گوشی موبایل Galaxy A51 با رم 6 گیگابایتی روانه بازار شده است. این محصول دارای صفحه‌نمایش سوپر آمولد است و ظاهر زیبایی دارد. سامسونگ تلاش کرده است حاشیه را در این تولید جدید خود تا حد امکان کم کند.</p>
                                                            <div class="price mb-2">6.000.000 تومان</div>
                                                            <a href="#"><div class="btn btn-sm btn-success">مشاهده و خرید</div></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Product Box -->
                                        </div>
                                        <div class="col">
                                            <!-- Product Box -->
                                            <div class="encrypt263156-row">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <a asp-page="/Product"><div class="image" style="background-image: url('assets/images/products/p101.png')"></div></a>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="details py-3 px-3">
                                                            <div class="category">
                                                                <a asp-page="/Products">گوشی موبایل</a>
                                                                &nbsp;/&nbsp;
                                                                <a asp-page="/Products">سامسونگ</a>
                                                            </div>
                                                            <a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2></a>
                                                            <div class="rate">
                                                                <i class="fa fa-star-half-alt"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <span class="encrypt89312423451">(14 رای دهنده)</span>
                                                            </div>
                                                            <p>گوشی موبایل Galaxy A51 با رم 6 گیگابایتی روانه بازار شده است. این محصول دارای صفحه‌نمایش سوپر آمولد است و ظاهر زیبایی دارد. سامسونگ تلاش کرده است حاشیه را در این تولید جدید خود تا حد امکان کم کند.</p>
                                                            <div class="price mb-2">6.000.000 تومان</div>
                                                            <a href="#"><div class="btn btn-sm btn-success">مشاهده و خرید</div></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Product Box -->
                                        </div>
                                        <div class="col">
                                            <!-- Product Box -->
                                            <div class="encrypt263156-row">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <a asp-page="/Product"><div class="image" style="background-image: url('assets/images/products/p102.png')"></div></a>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="details py-3 px-3">
                                                            <div class="category">
                                                                <a asp-page="/Products">گوشی موبایل</a>
                                                                &nbsp;/&nbsp;
                                                                <a asp-page="/Products">سامسونگ</a>
                                                            </div>
                                                            <a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2></a>
                                                            <div class="rate">
                                                                <i class="fa fa-star-half-alt"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <span class="encrypt89312423451">(14 رای دهنده)</span>
                                                            </div>
                                                            <p>گوشی موبایل Galaxy A51 با رم 6 گیگابایتی روانه بازار شده است. این محصول دارای صفحه‌نمایش سوپر آمولد است و ظاهر زیبایی دارد. سامسونگ تلاش کرده است حاشیه را در این تولید جدید خود تا حد امکان کم کند.</p>
                                                            <div class="price mb-2">6.000.000 تومان</div>
                                                            <a href="#"><div class="btn btn-sm btn-success">مشاهده و خرید</div></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Product Box -->
                                        </div>
                                        <div class="col">
                                            <!-- Product Box -->
                                            <div class="encrypt263156-row">
                                                <div class="row">
                                                    <div class="col-12 col-md-4">
                                                        <a asp-page="/Product"><div class="image" style="background-image: url('assets/images/products/p103.png')"></div></a>
                                                    </div>
                                                    <div class="col-12 col-md-8">
                                                        <div class="details py-3 px-3">
                                                            <div class="category">
                                                                <a asp-page="/Products">گوشی موبایل</a>
                                                                &nbsp;/&nbsp;
                                                                <a asp-page="/Products">سامسونگ</a>
                                                            </div>
                                                            <a asp-page="/Product"><h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2></a>
                                                            <div class="rate">
                                                                <i class="fa fa-star-half-alt"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <span class="encrypt89312423451">(14 رای دهنده)</span>
                                                            </div>
                                                            <p>گوشی موبایل Galaxy A51 با رم 6 گیگابایتی روانه بازار شده است. این محصول دارای صفحه‌نمایش سوپر آمولد است و ظاهر زیبایی دارد. سامسونگ تلاش کرده است حاشیه را در این تولید جدید خود تا حد امکان کم کند.</p>
                                                            <div class="price mb-2">6.000.000 تومان</div>
                                                            <a href="#"><div class="btn btn-sm btn-success">مشاهده و خرید</div></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /Product Box -->
                                        </div>
                                        <!-- /Products -->
                                    </div>
                                </div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div id="pagination-bg">
                                            <ul class="pagination justify-content-center pagination-sm"></ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section class="pt-4 pb-3" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">دسترسی سریع</div>
                <ul>
                    <li><a asp-page="/Blog">بلاگ آموزشی</a></li>
                    <li><a asp-page="/Faq">راهنمای خرید</a></li>
                    <li><a asp-page="/Faq">شیوه های پرداخت</a></li>
                    <li><a asp-page="/Contact">پیگیری سفارش</a></li>
                    <li><a asp-page="/Faq">سوالات متداول</a></li>
                    <li><a asp-page="/About">درباره ما</a></li>
                    <li><a asp-page="/Contact">تماس با ما</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <div class="title">گروه های محصولات</div>
                <ul>
                    <li><a asp-page="/Products">تجهیزات کامپیوتر</a></li>
                    <li><a asp-page="/Products">گوشی موبایل</a></li>
                    <li><a asp-page="/Products">جانبی موبایل</a></li>
                    <li><a asp-page="/Products">ساعت هوشمند</a></li>
                    <li><a asp-page="/Products">جانبی کامپیوتر</a></li>
                    <li><a asp-page="/Products">دوربین</a></li>
                    <li><a asp-page="/Products">لپ تاپ</a></li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-lg-2 d-none d-sm-inline-block">
                <div class="title">ناحیه کاربری</div>
                <ul>
                    <li><a asp-page="/Login">ورود به سایت</a></li>
                    <li><a asp-page="/Register">عضویت در سایت</a></li>
                    <li><a asp-page="/Reset-Password">بازیابی رمز عبور</a></li>
                    <li><a asp-page="/Cart">سبد خرید</a></li>
                    <li><a asp-page="/Checkout">پیش فاکتور</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <hr class="d-lg-none">
                <img src="assets/images/logo.png" alt=""> روبیک مارکت
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                <div class="row">
                    <div class="col-12 col-md-6 text-center p-2" id="encrypt2139211256">
                        <div>7 روز هفته، 24 ساعت شبانه روز</div>
                        <div>پاسخگوی شما هستیم</div>
                        <div>09351234567</div>
                    </div>
                    <div class="col-12 col-md-6 pt-2 pt-md-0" id="certificates">
                        <div class="row">
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/certificates/enamad.png" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/certificates/samandehi.png" alt=""></a>
                            </div>
                            <div class="col-4 text-center">
                                <a href="#"><img src="assets/images/certificates/etehadiye.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Footer -->
<!-- Copyright -->
<section class="py-2" id="copyright">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6" id="encrypt1368569">
                <span>ما را دنبال کنید</span>
                <a href="#"><img src="assets/images/social/insta.png" alt=""></a>
                <a href="#"><img src="assets/images/social/facebook.png" alt=""></a>
                <a href="#"><img src="assets/images/social/linkedin.png" alt=""></a>
                <a href="#"><img src="assets/images/social/twitter.png" alt=""></a>
                <a href="#"><img src="assets/images/social/youtube.png" alt=""></a>
            </div>
            <div class="col-12 col-sm-6 text-sm-end pt-2 pt-sm-0">
                <span>کلیه حقوق و مادی معنوی محفوط است.</span>
            </div>
        </div>
    </div>
</section>