@page
@model Server.Pages.Products_listModel
@{
}
<section id="encrypt231432">
    <partial name="PartialViews/_TopNavBar" />

    <partial name="PartialViews/_SearchNavBar" />

    <partial name="PartialViews/_MainNavBar" />
</section>
<!-- /encrypt231432 -->

<partial name="PartialViews/_Products-list" />

<partial name="PartialViews/_Footer" />

<partial name="PartialViews/_Copyright" />