<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
	<partial name="PartialViews/_MetaTags" />
	<title>@(ViewData[Constants.ViewDataKeyName.PageTitle])</title>
	<partial name="PartialViews/_Favicon" />
	<partial name="PartialViews/_CoreUI" />
	<link rel="stylesheet" href="~/Server.styles.css" asp-append-version="true" />
</head>

<body>
	<partial name="PartialViews/_DisplayToastMessages" />
	<partial name="PartialViews/_NavigationMenu" />
	<div class="wrapper d-flex flex-column min-vh-100">
		<partial name="PartialViews/_ToolbarMenu" />
		<div class="body flex-grow-1">
			<div class="container-lg px-4">
				@RenderBody()
			</div>
		</div>
	</div>
	<partial name="PartialViews/_Scripts" />
</body>
</html>
