@page
@model Server.Areas.Admin.Pages.BasicInfo.Comments.DeleteModel
@{
    var pageTitle =
    $"{Resources.DataDictionary.DeleteOf} {Resources.DataDictionary.Comment}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}

<form method="post">

    <section-form>
        <fieldset disabled>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />

            <input hidden asp-for="DeleteViewModel.Id" dir="ltr" />

            <ub-full-input asp-for="DeleteViewModel.Text" />

        </fieldset>

        <section-form-buttons>
            <button-delete />
        </section-form-buttons>

    </section-form>

</form>
