@page
@model Server.Areas.Admin.Pages.BasicInfo.Comments.UpdateModel
@{
    var pageTitle =
    $"{Resources.DataDictionary.UpdateOf} {Resources.DataDictionary.Comment}";

    ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}
<form method="post">

    <section-form>
        <fieldset>
            <section-form-header>
                @(pageTitle)
            </section-form-header>

            <partial name="PartialViews/_DisplayPageMessages" />
            <input hidden asp-for="UpdateViewModel.Id" dir="ltr" />

            <ub-full-input asp-for="UpdateViewModel.Text" />

        </fieldset>

        <section-form-buttons>
            <button-save />
            <button-reset />
        </section-form-buttons>

    </section-form>

</form>

