@page
@model Server.Areas.Admin.Pages.BasicInfo.ShippingAddress.UpdateModel
@{
	var pageTitle =
	$"{Resources.DataDictionary.UpdateOf} {Resources.DataDictionary.Shippingaddress}";

	ViewData[Constants.ViewDataKeyName.PageTitle] = pageTitle;
}
<form method="post">

	<section-form>
		<fieldset>
			<section-form-header>
				@(pageTitle)
			</section-form-header>

			<partial name="PartialViews/_DisplayPageMessages" />
			<input hidden asp-for="UpdateViewModel.Id" dir="ltr" />

			<ub-full-input asp-for="UpdateViewModel.Country" />

			<ub-full-input asp-for="UpdateViewModel.Province" />

			<ub-full-input asp-for="UpdateViewModel.City" />

			<ub-full-input asp-for="UpdateViewModel.Address" />

			<ub-full-input asp-for="UpdateViewModel.PostalCode" />
		</fieldset>

		<section-form-buttons>
			<button-save />
			<button-reset />
		</section-form-buttons>

	</section-form>

</form>
