<!-- Blog Section -->
<section id="blog" class="pt-5">
    <h1 class="encrypt45121256">جدیدترین مقالات آموزشی</h1>
    <div class="container pt-4">
        <div class="row row-cols-1 row-cols-md-3">
            <!-- Blog Post -->
            <div class="col">
                <div class="encrypt471213921256" data-aos="fade-up" data-aos-duration="1000">
                    <a href="blog-post.html"><div class="post-image" style="background-image: url('assets/images/blog/post100.jpg')"></div></a>
                    <div class="details py-3 px-4">
                        <div class="post-date">ارسال شده در 30 خرداد 1400</div>
                        <a href="blog-post.html">
                            <h2 class="post-title">بررسی آیفون 12 پرو مکس اپل</h2>
                        </a>
                        <a href="blog-post.html">
                            <div class="encrypt213921256">آیفون ۱۲ پرو مکس با ابعاد غول‌پیکر، دوربین توانمندتر و باتری حجمیش، تمام‌عیارترین پرچم‌دار کنونی اپل به‌حساب می‌آید.</div>
                        </a>
                        <div class="read-more"><a href="blog-post.html" class="hvr-icon-back">بیشتر بخوانید <i class="fa fa-arrow-left hvr-icon"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- Blog Post -->
            <!-- /Blog Post -->
            <div class="col">
                <div class="encrypt471213921256" data-aos="fade-up" data-aos-duration="1000">
                    <a href="blog-post.html"><div class="post-image" style="background-image: url('assets/images/blog/post101.jpg')"></div></a>
                    <div class="details py-3 px-4">
                        <div class="post-date">ارسال شده در 30 خرداد 1400</div>
                        <a href="blog-post.html">
                            <h2 class="post-title">سامسونگ گلکسی S21 اولترا 5G</h2>
                        </a>
                        <a href="blog-post.html">
                            <div class="encrypt213921256">سامسونگ برای گوشی پرچم‌دارش، یعنی گلکسی S21 اولترا 5G، علاوه‌بر رنگ‌های قبلی، رنگ جدید سرمه‌ای را معرفی کرد.</div>
                        </a>
                        <div class="read-more"><a href="blog-post.html" class="hvr-icon-back">بیشتر بخوانید <i class="fa fa-arrow-left hvr-icon"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- Blog Post -->
            <!-- /Blog Post -->
            <div class="col">
                <div class="encrypt471213921256" data-aos="fade-up" data-aos-duration="1000">
                    <a href="blog-post.html"><div class="post-image" style="background-image: url('assets/images/blog/post102.jpg')"></div></a>
                    <div class="details py-3 px-4">
                        <div class="post-date">ارسال شده در 30 خرداد 1400</div>
                        <a href="blog-post.html">
                            <h2 class="post-title">دریافت گواهی بلوتوث گلکسی A03s سامسونگ</h2>
                        </a>
                        <a href="blog-post.html">
                            <div class="encrypt213921256">ماه گذشته، برای اولین‌بار اطلاعاتی از گلکسی A03s فاش شد و اکنون با دریافت گواهی بلوتوث، به زمان رونمایی این گوشی نزدیک شده‌ایم.</div>
                        </a>
                        <div class="read-more"><a href="blog-post.html" class="hvr-icon-back">بیشتر بخوانید <i class="fa fa-arrow-left hvr-icon"></i></a></div>
                    </div>
                </div>
            </div>
            <!-- Blog Post -->
        </div>
    </div>
</section>
<!-- /Blog Section -->