@using Application.Aggregates.Products.ViewModels
@using Server.Pages.Shared.Components.ProductCard
@model Server.Pages.IndexModel

<!-- Featured Products Section -->
<section id="encrypt231212189" class="my-5">
	<div class="container">
		<!-- Tabs -->
		<div class="row pb-2 pb-sm-4">
			<div class="col-12 text-center">
				<div class="btn-group" role="group" id="encrypt231212189-nav">
					<button type="button" class="btn active featured-categories" data-val="featured">محصولات منتخب</button>
					<button type="button" class="btn featured-categories" data-val="encrypt456">تخفیف خورده</button>
					<button type="button" class="btn featured-categories" data-val="most-visited">پربازدیدترین</button>
				</div>
			</div>
		</div>
		<!-- /Tabs -->
		<!-- Products -->
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 encrypt89345 featured" data-aos="fade-up" data-aos-duration="1000">
			<!-- Product Box -->
			@foreach (var item in Model.ProductsViewModel)
			{
				<div class="col">
					@await Component.InvokeAsync(ProductCardViewComponent.KEY, item)
				</div>
			} 
		</div>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 encrypt89345 encrypt456">
			@foreach (var item in Model.ProductsViewModel)
			{
				<div class="col">
					@await Component.InvokeAsync(ProductCardViewComponent.KEY, item)
				</div>
			}
		</div>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 encrypt89345 most-visited">
			@foreach (var item in Model.ProductsViewModel)
			{
				<div class="col">
					@await Component.InvokeAsync(ProductCardViewComponent.KEY, item)
				</div>
			}
		</div>
		<!-- /Products -->
	</div>
</section>
<!-- /Featured Products Section -->