@using Application.Aggregates.Products.ViewModels
@using Server.Pages.Shared.Components.ProductCard
@model Server.Pages.IndexModel

<!-- Featured Products Section -->
<section id="encrypt231212189" class="my-5">
	<div class="container">
		<!-- Tabs -->
		<div class="row pb-2 pb-sm-4">
			<div class="col-12 text-center">
				<div class="btn-group" role="group" id="encrypt231212189-nav">
					<button type="button" class="btn active featured-categories" data-val="featured">محصولات منتخب</button>
					<button type="button" class="btn featured-categories" data-val="encrypt456">تخفیف خورده</button>
					<button type="button" class="btn featured-categories" data-val="most-visited">پربازدیدترین</button>
				</div>
			</div>
		</div>
		<!-- /Tabs -->
		<!-- Products -->
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 encrypt89345 featured" data-aos="fade-up" data-aos-duration="1000">
			<!-- Product Box -->
@* 			@foreach (var item in Model.ProductsViewModel)
			{
				<div class="col">
					@{

						var image = Model.ProductImageViewModel.FirstOrDefault(x => x.ProductId == item.Id);

						var pricelist = Model.ProductPriceListViewModel.FirstOrDefault(x => x.ProductId == item.Id);

						decimal price = 0;

						if (pricelist is not null)
						{
							price = decimal.Parse(pricelist.Price.ToString(), System.Globalization.NumberStyles.Currency);
						}

						var card = new ProductCardViewModel
				{
					Slug = "Slug",
					TotalVoters = 14,
					SKU = item.SKU,
					Price = price,
					Name = item.Name,
					ImageUrl = image?.ImageUrl
				};
					}

					@await Component.InvokeAsync(ProductCardViewComponent.KEY, card)


				</div>
			} *@
		</div>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 encrypt89345 encrypt456">
@* 			@foreach (var item in Model.ProductsViewModel)
			{

				<div class="col">
					@{
						var image = Model.ProductImageViewModel.FirstOrDefault(x => x.ProductId == item.Id);

						var pricelist = Model.ProductPriceListViewModel.FirstOrDefault(x => x.ProductId == item.Id);
						decimal price = 0;

						if (pricelist is not null)
						{
							price = decimal.Parse(pricelist.Price.ToString(), System.Globalization.NumberStyles.Currency);
						}
						var card = new ProductCardViewModel
							{
								Slug = "Slug",
								TotalVoters = 14,
								SKU = item.SKU,
								Price = price,
								Name = item.Name,
								ImageUrl = image?.ImageUrl
							};
					}
					@await Component.InvokeAsync(ProductCardViewComponent.KEY, card)
				</div>
			} *@
			<!-- /Product Box -->
		</div>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-md-4 encrypt89345 most-visited">
@* 			@foreach (var item in Model.ProductsViewModel)
			{

				<div class="col">
					@{
						var image = Model.ProductImageViewModel.FirstOrDefault(x => x.ProductId == item.Id);

						var pricelist = Model.ProductPriceListViewModel.FirstOrDefault(x => x.ProductId == item.Id);
						decimal price = 0;

						if (pricelist is not null)
						{
							price = decimal.Parse(pricelist.Price.ToString(), System.Globalization.NumberStyles.Currency);
						}
						var card = new ProductCardViewModel
							{
								Slug = "Slug",
								TotalVoters = 14,
								SKU = item.SKU,
								Price = price,
								Name = item.Name,
								ImageUrl = image?.ImageUrl
							};
					}
					@await Component.InvokeAsync(ProductCardViewComponent.KEY, card)
				</div>
			} *@
		</div>
		<!-- /Products -->
	</div>
</section>
<!-- /Featured Products Section -->