@using System.Security.Claims

@{
    string customerId = string.Empty;
    if (User.Identity.IsAuthenticated != false)
    {
        customerId = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Sid).Value;
    }
}

<div id="main-nav">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="encrypt233211 dmarrow-down droopmenu-horizontal dmpos-top dmfade">
                    <div class="droopmenu-inner">
                        <div class="d-none d-lg-block droopmenu-encrypt231432">
                            <a href="#" class="droopmenu-toggle"><i class="dm-burg"></i></a>
                            <span class="d-md-none">منوی فروشگاه</span>
                        </div>
                        <!-- encrypt231432 Mega Menu-->
                        <div class="droopmenu-nav">
                            <div class="droopmenu-nav-wrap">
                                <div class="droopmenu-navi">
                                    <ul class="droopmenu">
                                        <li class="encrypt233211244" aria-haspopup="true">
                                            <a href="#" aria-expanded="false"><i class="fa fa-bars"></i>&nbsp;&nbsp;گروه های محصولات<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                            <ul class="droopmenu-grid droopmenu-grid-9">
                                                <li class="droopmenu-tabs droopmenu-tabs-vertical">
                                                    @await Component.InvokeAsync("SiteMenu")                                                  
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a asp-page="/About">درباره ما<em class="encrypt2344"></em></a></li>
                                        <li class="encrypt233211244" aria-haspopup="true">
                                            <a asp-page="/Products" aria-expanded="false">صفحات فروشگاه<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                            <ul style="">
                                                <li><a asp-page="/Products">محصولات <sup>(کاشی کاری)</sup></a></li>
                                                <li><a asp-page="/Products-list">محصولات <sup>(لیست)</sup></a></li>
                                                <li><a asp-page="/Products">جزئیات محصول</a></li>
                                            </ul>
                                        </li>
                                        <li class="encrypt233211244" aria-haspopup="true">
                                            <a asp-page="/Contact" aria-expanded="false">تماس با فروشگاه<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                            <ul style="">
                                                <li><a asp-page="/Faq">سوالات متداول</a></li>
                                                <li><a asp-page="/Contact">تماس با ما</a></li>
                                            </ul>
                                        </li>
                                        <li class="encrypt233211244" aria-haspopup="true">
                                            <a asp-page="/Blog-post" aria-expanded="false">بلاگ آموزشی<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                            <ul style="">
                                                <li><a asp-page="/Blog-post">آرشیو مطالب</a></li>
                                                <li><a asp-page="/Blog-Post">داخلی بلاگ</a></li>
                                            </ul>
                                        </li>
                                        <li class="encrypt233211244" aria-haspopup="true">
                                            <a href="#" aria-expanded="false">سایر صفحات<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                            <ul style="">
                                                <li><a asp-page="/Compare">مقایسه محصول</a></li>
                                                <li><a asp-page="/Cart">سبد خرید</a></li>
                                                <li><a asp-page="/Checkout">پیش فاکتور</a></li>
                                                <li><a asp-page="/Thankyou">پرداخت موفق</a></li>
                                                <li class="dm-bottom-separator"></li>
                                                <li><a asp-page="/Login">ورود به سایت</a></li>
                                                <li><a asp-page="/Register">عضویت در سایت</a></li>
                                                <li><a asp-page="/Reset-Password">بازگردانی رمز عبور</a></li>
                                                <li class="dm-bottom-separator"></li>
                                                <li><a href="error-404.html">خطای 404</a></li>
                                            </ul>
                                        </li>
                                        <li class="encrypt233211244" aria-haspopup="true">
                                            <a asp-page="/Profile/Personal-Info" asp-route-Id="@(customerId)" aria-expanded="false">پروفایل کاربری<em class="encrypt2344"></em></a><div class="dm-arrow"></div>
                                            <ul style="">
                                                <li><a asp-page="/Register">عضویت در سایت</a></li>
                                                <li><a asp-page="/Login">ورود به سایت</a></li>
                                                <li><a asp-page="/Forget-Password">بازنشانی رمز عبور</a></li>
                                                <li class="dm-bottom-separator"></li>
                                                <li><a asp-page="/Profile/Personal-Info" asp-route-Id="@(customerId)">مشخصات کاربری</a></li>
                                                <li><a asp-page="/Profile/Factors">سفارشات</a></li>
                                                <li><a asp-page="/Profile/Factor-View">مشاهده فاکتور</a></li>
                                                <li><a asp-page="/Profile/Addresses">آدرس ها</a></li>
                                                <li><a asp-page="/Profile/Favorites">علاقه مندی ها</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- /encrypt231432 Menu Menu -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Main NavBar -->