 <!-- Promo Images -->
<div class="container" data-aos="fade-up" data-aos-duration="1200">
    <div class="row">
        <div class="col-12 col-md-4 pt-2 text-center">
            <a asp-page="/Products">
                <img src="/images/promo-image1.png" alt="" class="rounded-4">
            </a>
        </div>
        <div class="col-12 col-md-8 pt-2 text-center">
            <a asp-page="/Products">
                <img src="/images/promo-image2.png" alt="" class="rounded-4">
            </a>
        </div>
    </div>
</div>
<!-- /Promo Images -->