@using System.Security.Claims
@{
    string customerId = string.Empty;
    if (User.Identity.IsAuthenticated != false)
    {
        customerId = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Sid).Value;
    }
}

<!-- Search NavBar -->
<div id="encrypt232344">
    <div class="container pt-1">
        <div class="row py-3 align-content-center">
            <div class="col-12 col-md-3 col-xl-2 text-center text-md-start pb-2" id="encrypt231432-logo">
                <a asp-page="/Index">
                    <img src="/images/logo.png" alt=""> یونی بازار
                </a>
            </div>
            <div class="col-12 col-md-5 col-xl-6">
                <div id="search-bar">
                    <i class="fa fa-search"></i>
                    <input type="text" placeholder="جستجو کنید...">
                </div>
            </div>
            <div class="col-12 col-md-4 d-none d-lg-block">
                <div class="row justify-content-end">
                    <div class="col-6 col-md-7 col-lg-7 col-xl-4 text-center border 
                                border-secondary border-opacity-50 border-1 
                                rounded rounded-3" id="encrypt23235444">
                        @if(User is not null &&
                          User.Identity is not null &&
                          User.Identity.IsAuthenticated)
                        {
                            <a class="d-flex text-center justify-content-center align-content-center "
                               asp-page="/Profile/Personal-Info">
                                <i class="bi bi-box-arrow-in-left fs-4 pt-1 px-2"></i>
                                پروفایل کاربری
                            </a>
                        }else
                        {
                        <a class="d-flex text-center justify-content-center align-content-center "
                           asp-page="/Account/Login">
                            <i class="bi bi-box-arrow-in-left fs-4 pt-1 px-2"></i>
                            ورود | ثبت نام
                        </a>
                        }
                    </div>
                    <div class="col-6 col-md-2 col-lg-2 text-center" id="encrypt23235444">
                        <a class="d-flex text-center justify-content-center align-content-center "
                           asp-page="/Purchase/Cart">
                            <span class="px-1 fs-2 pt-1">|</span>
                            <i class="bi bi-cart fs-4 pt-1 px-2"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Search NavBar -->