<!-- Side Panel Post -->
<div class="col-12 col-lg-12 px-0 mt-2">
    <div class="side-blog-post">
        <div class="row pl-3">
            <div class="col-4 pl-2">
                <a asp-page="/Blog-Post"><div class="image" style="background-image: url(/images/blog/post103.jpg)"></div></a>
            </div>
            <div class="col-8 px-0">
                <a asp-page="/Blog-Post"><h2>خرابی نمایشگرهای سری گلکسی S20</h2></a>
                <div class="row">
                    <div class="col-12 col-xl-6 pl-0">
                        <span class="category">دسته بندی: <a asp-page="/Blog-post">اخبار</a></span>
                    </div>
                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                        <span class="date">30 خرداد 1400</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Side Panel Post -->