<!-- Side Panel -->
<div class="col-12 col-sm-6 col-lg-12 px-lg-2">
    <div class="blog-side-panel">
        <div class="row pt-2 px-3">
            <div class="col"><div class="title">پربازدیدترین محصولات</div></div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <!-- Side Panel Product -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <a asp-page="/Product">
                        <div class="side-blog-product">
                            <div class="row pl-3">
                                <div class="col-4 pl-2">
                                    <div class="image" style="background-image: url(/images/products/p100.png)"></div>
                                </div>
                                <div class="col-8 px-0">
                                    <h2>گوشی موبایل سامسونگ مدل Galaxy A51 دو سیم کارت</h2>
                                    <div class="row">
                                        <div class="col-8 pl-0">
                                            <span class="price">3.200.000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /Side Panel Product -->
                <!-- Side Panel Product -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <a asp-page="/Product">
                        <div class="side-blog-product">
                            <div class="row pl-3">
                                <div class="col-4 pl-2">
                                    <div class="image" style="background-image: url(/images/products/p200.png)"></div>
                                </div>
                                <div class="col-8 px-0">
                                    <h2>لپ تاپ 15 اینچی ایسوس مدل VivoBook X543MA-DM905</h2>
                                    <div class="row">
                                        <div class="col-8 pl-0">
                                            <span class="price">3.200.000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /Side Panel Product -->
                <!-- Side Panel Product -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <a asp-page="/Product">
                        <div class="side-blog-product">
                            <div class="row pl-3">
                                <div class="col-4 pl-2">
                                    <div class="image" style="background-image: url(/images/products/p300.png)"></div>
                                </div>
                                <div class="col-8 px-0">
                                    <h2>هدفون بی سیم سامسونگ مدل Galaxy Buds Live</h2>
                                    <div class="row">
                                        <div class="col-8 pl-0">
                                            <span class="price">3.200.000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /Side Panel Product -->
                <!-- Side Panel Product -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <a asp-page="/Product">
                        <div class="side-blog-product">
                            <div class="row pl-3">
                                <div class="col-4 pl-2">
                                    <div class="image" style="background-image: url(/images/products/p400.png)"></div>
                                </div>
                                <div class="col-8 px-0">
                                    <h2>دوربین دیجیتال کانن مدل EOS 2000D به همراه لنز 18-55 میلی متر</h2>
                                    <div class="row">
                                        <div class="col-8 pl-0">
                                            <span class="price">3.200.000 تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- /Side Panel Product -->
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-sm-6 col-lg-12 px-lg-2">
    <div class="blog-side-panel">
        <div class="row pt-4 pt-sm-2 px-3">
            <div class="col"><div class="title">پربازدیدترین مطالب</div></div>
        </div>
        <hr>
        <div class="container">
            <div class="row">
                <!-- Side Panel Post -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <div class="side-blog-post">
                        <div class="row pl-3">
                            <div class="col-4 pl-2">
                                <a asp-page="/Blog-Post"><div class="image" style="background-image: url(/images/blog/post100.jpg)"></div></a>
                            </div>
                            <div class="col-8 px-0">
                                <a asp-page="/Blog-Post"><h2>بررسی آیفون 12 پرو مکس اپل</h2></a>
                                <div class="row">
                                    <div class="col-12 col-xl-6 pl-0">
                                        <span class="category">دسته بندی: <a asp-page="/Blog">اخبار</a></span>
                                    </div>
                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                        <span class="date">30 خرداد 1400</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Side Panel Post -->
                <!-- Side Panel Post -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <div class="side-blog-post">
                        <div class="row pl-3">
                            <div class="col-4 pl-2">
                                <a asp-page="/Blog-Post"><div class="image" style="background-image: url(/images/blog/post101.jpg)"></div></a>
                            </div>
                            <div class="col-8 px-0">
                                <a asp-page="/Blog-Post"><h2>سامسونگ گلکسی S21 اولترا 5G</h2></a>
                                <div class="row">
                                    <div class="col-12 col-xl-6 pl-0">
                                        <span class="category">دسته بندی: <a asp-page="/Blog">اخبار</a></span>
                                    </div>
                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                        <span class="date">30 خرداد 1400</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Side Panel Post -->
                <!-- Side Panel Post -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <div class="side-blog-post">
                        <div class="row pl-3">
                            <div class="col-4 pl-2">
                                <a asp-page="/Blog-Post"><div class="image" style="background-image: url(/images/blog/post102.jpg)"></div></a>
                            </div>
                            <div class="col-8 px-0">
                                <a asp-page="/Blog-Post"><h2>دریافت گواهی بلوتوث گلکسی A03s سامسونگ</h2></a>
                                <div class="row">
                                    <div class="col-12 col-xl-6 pl-0">
                                        <span class="category">دسته بندی: <a asp-page="/Blog">اخبار</a></span>
                                    </div>
                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                        <span class="date">30 خرداد 1400</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Side Panel Post -->
                <!-- Side Panel Post -->
                <div class="col-12 col-lg-12 px-0 mt-2">
                    <div class="side-blog-post">
                        <div class="row pl-3">
                            <div class="col-4 pl-2">
                                <a asp-page="/Blog-Post"><div class="image" style="background-image: url(/images/blog/post103.jpg)"></div></a>
                            </div>
                            <div class="col-8 px-0">
                                <a asp-page="/Blog-Post"><h2>خرابی نمایشگرهای سری گلکسی S20</h2></a>
                                <div class="row">
                                    <div class="col-12 col-xl-6 pl-0">
                                        <span class="category">دسته بندی: <a asp-page="/Blog">اخبار</a></span>
                                    </div>
                                    <div class="col-12 col-xl-6 pr-0 text-start text-xl-end d-none d-xl-block">
                                        <span class="date">30 خرداد 1400</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Side Panel Post -->
            </div>
        </div>
    </div>
</div>