<section id="encrypt4598721256" class="pt-4">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 gy-3 text-center">
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="800">
                <img src="/images/encrypt4598721256/benefit1.html" alt="">
                <span>پشتیبانی 24 ساعته</span>
            </div>
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="1000">
                <img src="/images/encrypt4598721256/benefit2.html" alt="">
                <span>ضمانت اصالت کالا</span>
            </div>
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="1200">
                <img src="/images/encrypt4598721256/benefit3.html" alt="">
                <span>ضمانت بازگشت وجه</span>
            </div>
            <div class="col" data-aos="fade-zoom-in" data-aos-duration="1400">
                <img src="/images/encrypt4598721256/benefit4.html" alt="">
                <span>ارسال سریع و رایگان</span>
            </div>
        </div>
        <div class="row pt-2">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
</section>
